.dark-side {
	background-color: rgba(41,41,41,.9);
	z-index: 999999 !important;
	position: fixed;
	height: 100%;
	width: 100%;

	.popapp-box {
		border: 1px solid rgba(255,255,255,.75);
		margin: 300px auto 0 auto;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		display: table;
		padding: 0;

		.popapp-area-img {
			text-align: center;
			position: relative;
			display: block;

			a:link,
			a:active,
			a:visited,
			a:hover {
				position: relative;
				display: block;

				img {
					position: relative;
					display: block;
				}
			}
		}

		.popapp-area-viewer {
			text-align: center;
			position: relative;
			display: block;

			img {
				position: relative;
				display: block;
			}

			a.step-next:link,
			a.step-next:active,
			a.step-next:visited {
				background: rgba(255,255,255,.25) url(../source/arr_viewer.png) -40px center no-repeat;
				border-radius: 50%;
				position: absolute;
				display: block;
				height: 150px;
				width: 150px;
				right: -75px;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);

				-webkit-transition: background-color .25s ease-in-out;
				-moz-transition: background-color .25s ease-in-out;
				-o-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;

				&:hover {
					background-color: rgba(255,255,255,.75);
				}
			}

			a.step-preview:link,
			a.step-preview:active,
			a.step-preview:visited {
				background: rgba(255,255,255,.25) url(../source/arr_viewer.png) 90px center no-repeat;
				border-radius: 50%;
				position: absolute;
				display: block;
				height: 150px;
				width: 150px;
				left: -75px;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);

				-webkit-transition: background-color .25s ease-in-out;
				-moz-transition: background-color .25s ease-in-out;
				-o-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;

				&:hover {
					background-color: rgba(255,255,255,.75);
				}
			}
		}

		.popapp-area-text {
			background-color: #000;
			position: relative;
			display: table;
			padding: 0;
			margin: 0;

			.left-side {
				display: block;
				padding: 10px;
				width: 215px;
				float: left;

				img {
					margin-bottom: 10px;
					display: block;
				}

				p.sales-partner {
					font: normal 24px/41px Intro, sans-serif;
					margin-bottom: 40px;
					color: #fff;

					span:before {
						content: ' ';
					}
				}

				a:link,
				a:active,
				a:visited {
					font: normal 24px Intro, sans-serif;
					color: #a8886c;

					&:hover {
						text-decoration: none;
					}
				}
			}

			.right-side {
				display: block;
				width: 700px;
				float: left;

				h1 {
					font: bold 24px Arial, sans-serif;
					padding: 20px 0;
					width: 600px;
					color: #fff;
					margin: 0;
				}

				p {
					font: normal 14px/18px Arial, sans-serif;
					color: #fff;

					span {
						font-size: 18px;
					}
				}

				a.referal-partners:link,
				a.referal-partners:active,
				a.referal-partners:visited {
					background: transparent url(../source/icon_set_40x40.png) left -670px no-repeat;
					font: normal 14px/30px Intro, sans-serf;
					display: inline-block;
					padding-left: 50px; 
					color: #a8886c;
					height: 30px;
					margin: 10px;
					float: right;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		a.close-popapp:link,
		a.close-popapp:active,
		a.close-popapp:visited,
		a.close-popapp:hover {
			background: transparent url(../source/close_icon.png) center 5px no-repeat; 
			position: absolute;
			display: block;
			height: 40px;
			width: 40px;
			right: 10px;
			top: 10px;
		}

		.social-icon-box {
			position: absolute;
			display: table;
			padding: 0;
			margin: 0;
			left: 10px;
			top: 10px;

			a.facebook:link,
			a.facebook:active,
			a.facebook:visited {
				background: transparent url(../source/facebook.png) center center no-repeat;
				display: inline-block;
				margin-right: 5px;
				height: 40px;
				opacity: .5;
				width: 40px;

				-webkit-transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-o-transition: opacity .25s ease-in-out;
				transition: opacity .25s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}

			a.vkontakte:link,
			a.vkontakte:active,
			a.vkontakte:visited {
				background: transparent url(../source/vkontakte.png) center center no-repeat;
				display: inline-block;
				height: 40px;
				opacity: .5;
				width: 40px;

				-webkit-transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-o-transition: opacity .25s ease-in-out;
				transition: opacity .25s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}